#row_socialshare_horizontalsharing_horizontalcounterproviders li,
#row_socialshare_horizontalsharing_horizontalsharingproviders li,
#row_socialshare_verticalsharing_verticalsharingproviders li,
#row_socialshare_verticalsharing_verticalcounterproviders li{
    width: 33%;
    float: left;
}
#loginRadiushorizontalrearrangesharing li,
#row_socialshare_verticalsharing_verticalsharingprovidershidden li{
    float:left;
    margin-right: 5px;
} 
colgroup.value {
    width: 50%;
}
colgroup.label {
    width: 20%;
}
#row_socialshare_verticalsharing_verticalsharingtheme .value input[type=radio]{
    vertical-align: top;
}
#row_socialshare_verticalsharing_verticalsharingtheme .value img{
    margin-top: -5px;
    vertical-align: top;
}
#row_socialshare_horizontalsharing_horizontalsharingtheme input[type=radio] {
    float: left;
    margin-right: 7px;
}
#socialshare_horizontalsharing_horizontalsharingtheme32,
#socialshare_horizontalsharing_horizontalsharingthemecounter_horizontal{
    margin-top: 10px;
}
#socialshare_horizontalsharing_horizontalsharingtheme16,
#socialshare_horizontalsharing_horizontalsharingthemesingle_small{
    margin-top: 3px
}
#socialshare_horizontalsharing_horizontalsharingthemeresponsive,
#socialshare_horizontalsharing_horizontalsharingthemesingle_large{
    margin-top: 6px
}
#socialshare_horizontalsharing_horizontalsharingthemecounter_vertical{
    margin-top: 30px
}