<?xml version="1.0"?>
<config>
    <modules>
        <Ciam_Authentication>
            <version>3.0.1</version>
        </Ciam_Authentication>
    </modules>
    <global>
        <helpers>
            <authentication>
                <class>Ciam_Authentication_Helper</class>
            </authentication>
        </helpers>     
        <blocks>
            <authentication>
                <class>Ciam_Authentication_Block</class>
            </authentication>
        </blocks>
        <resources>
            <authentication_setup>
                <setup>
                    <module>Ciam_Authentication</module>
                </setup>
            </authentication_setup>
        </resources>  
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <authentication>
                                            <title>Store Activation Module Section</title>
                                        </authentication>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <model_config_data_save_before>
                <observers>
                    <authentication>
                        <class>Ciam_Authentication_Model_Observer</class>
                        <method>validate_apikey_and_secret</method>
                    </authentication>
                </observers>
            </model_config_data_save_before>
        </events> 
        <events>
            <customer_save_before>
                <observers>
                    <ciam_observer_before_saving_customer>
                        <class>Ciam_Authentication_Model_Observer</class>
                        <method>admin_customer_save_before</method>
                    </ciam_observer_before_saving_customer>
                </observers>
            </customer_save_before>
        </events>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <ciam_observer_after_saving_customer>
                        <type>model</type>
                        <class>Ciam_Authentication_Model_Observer</class>
                        <method>admin_customer_save_after</method>
                    </ciam_observer_after_saving_customer>
                </observers>
            </adminhtml_customer_save_after>
        </events>
        <events>
            <customer_delete_commit_after>
                <observers>
                    <ciam_observer_delete_customer>
                        <type>model</type>
                        <class>Ciam_Authentication_Model_Observer</class>
                        <method>delete_before_customer</method>
                    </ciam_observer_delete_customer>
                </observers>
            </customer_delete_commit_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <authentication>
                    <file>ciam/authentication.xml</file>
                </authentication>
            </updates>
        </layout>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Ciam_Authentication before="Mage_Customer">Ciam_Authentication</Ciam_Authentication>
                    </modules>
                </args>
            </customer>
        </routers>
        <routers>
            <authentication>
                <use>standard</use>
                <args>
                    <module>Ciam_Authentication</module>
                    <frontName>authentication</frontName>
                </args>
            </authentication>
        </routers>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <customerLogin>
                        <class>Ciam_Authentication_Model_Observer</class>
                        <method>checkout_customer_save_before</method>
                    </customerLogin>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <events>
            <customer_save_before>
                <observers>
                    <customerLogin>
                        <class>Ciam_Authentication_Model_Observer</class>
                        <method>customer_save_before</method>
                    </customerLogin>
                </observers>
            </customer_save_before>
        </events>
        <events>
            <customer_account_save_before>
                <observers>
                    <customerEdit>
                        <class>Ciam_Authentication_Model_Observer</class>
                        <method>customer_save_before</method>
                    </customerEdit>
                </observers>
            </customer_account_save_before>
        </events>

        <events>
            <customer_address_save_before>
                <observers>
                    <nonsintetic_membership_save_observer>
                        <class>Ciam_Authentication_Model_Observer</class>
                        <method>customer_save_before</method>
                    </nonsintetic_membership_save_observer>
                </observers>
            </customer_address_save_before>
        </events>
    </frontend>
</config>