<?xml version="1.0"?>
<config>
    <modules>
        <Loginradius_Customerregistration>
            <version>2.0.6</version>
        </Loginradius_Customerregistration>
    </modules>
    <global>
        <helpers>
            <customerregistration>
                <class>Loginradius_Customerregistration_Helper</class>
            </customerregistration>
        </helpers>
        <blocks>
            <customerregistration>
                <class>Loginradius_Customerregistration_Block</class>
            </customerregistration>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customerregistration>
                                            <title>Store Activation Module Section</title>
                                        </customerregistration>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <customerregistration>
                    <file>Loginradius/customerregistration.xml</file>
                </customerregistration>
            </updates>
        </layout>
        <events>
            <customer_save_before>
                <observers>
                    <loginradius_observer_before_saving_customer>
                        <class>Loginradius_Customerregistration_Model_Observer</class>
                        <method>admin_customer_save_before</method>
                    </loginradius_observer_before_saving_customer>
                </observers>
            </customer_save_before>
        </events>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <loginradius_observer_after_saving_customer>
                        <type>model</type>
                        <class>Loginradius_Customerregistration_Model_Observer</class>
                        <method>admin_customer_save_after</method>
                    </loginradius_observer_after_saving_customer>
                </observers>
            </adminhtml_customer_save_after>
        </events>
        <events>
            <customer_delete_commit_after>
                <observers>
                    <loginradius_observer_delete_customer>
                        <type>model</type>
                        <class>Loginradius_Customerregistration_Model_Observer</class>
                        <method>delete_before_customer</method>
                    </loginradius_observer_delete_customer>
                </observers>
            </customer_delete_commit_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <customerregistration>
                    <file>Loginradius/customerregistration.xml</file>
                </customerregistration>
            </updates>
        </layout>
        <routers>
            <customerregistration>
                <use>standard</use>
                <args>
                    <module>Loginradius_Customerregistration</module>
                    <frontName>customerregistration</frontName>
                </args>
            </customerregistration>
        </routers>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <customerLogin>
                        <class>Loginradius_Customerregistration_Model_Observer</class>
                        <method>customer_order_after</method>
                    </customerLogin>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <events>
            <customer_save_before>
                <observers>
                    <customerLogin>
                        <class>Loginradius_Customerregistration_Model_Observer</class>
                        <method>customer_save_before</method>
                    </customerLogin>
                </observers>
            </customer_save_before>
        </events>
        <events>
            <customer_account_save_before>
                <observers>
                    <customerEdit>
                        <class>Loginradius_Customerregistration_Model_Observer</class>
                        <method>customer_save_before</method>
                    </customerEdit>
                </observers>
            </customer_account_save_before>
        </events>

        <events>
            <customer_address_save_before>
                <observers>
                    <nonsintetic_membership_save_observer>
                        <class>Loginradius_Customerregistration_Model_Observer</class>
                        <method>customer_save_before</method>
                    </nonsintetic_membership_save_observer>
                </observers>
            </customer_address_save_before>
        </events>
    </frontend>
</config>