<?xml version="1.0"?>
<config>
    <sections>
        <customerregistration translate="label" module="customerregistration">
            <label>Customer Registration</label>
            <tab>socialconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>    
            <groups>
                <info translate="label">
                    <frontend_model>Loginradius_Activation_Model_Info</frontend_model>
                    <comment><![CDATA[]]></comment>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>
                <settings translate="label">
                    <label>Basic Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store> 
                    <fields>
                        <hostedpage translate="label">
                            <label>Enable Hosted Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hostedpage>
                        <redirectionafterlogin translate="label">
                            <label>Redirection After Login</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Loginradius_Sociallogin_Model_Source_Redirection</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirectionafterlogin>
                        <redirectionafterlogincustom translate="label">
                            <label></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirectionafterlogincustom>
                    </fields>
                </settings>
                <socialinterface translate="label">
                    <label>Interface Customization Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Text displayed above Social login Interface]]></comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <validationmessage translate="label">
                            <label>Display Form Validation Message</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Select Yes if you want to show form validation messages just below the form elements.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </validationmessage>
                        <termsandcondition translate="label">
                            <label>Display Terms and Condition</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[This field is shown just above the submit button and displays the Terms and Conditions text to the user.]]></comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </termsandcondition>
                        <formrenderdelay translate="label">
                            <label>Form Render Delay Time</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Set the delay time (in milliseconds) before the Customer Registration interface is rendered]]></comment>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </formrenderdelay>
                        <recaptchakey translate="label">
                            <label>Google Recaptcha</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Enter V2 Google reCaptcha Public Key.]]></comment>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </recaptchakey>
                        <passwordlengthheading translate="label">
                            <label>Password Configuration</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </passwordlengthheading>
                        <minpasswordlength translate="label">
                            <label>Min Length</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Set min password length; must be int value.]]></comment>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minpasswordlength>
                        <maxpasswordlength translate="label">
                            <label>Max Length</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Set max password length; must be int value.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </maxpasswordlength>
                    </fields>
                </socialinterface>              
                <othersettings translate="label">
                    <label>Advance Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <updateprofiledata translate="label">
                            <label>Update Profile Data</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Select yes to update user profile details in your Magento website, every time user logs into your website.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </updateprofiledata>
                         
                        <emailVerified translate="label">
                            <label>Email Verification</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Allow users to verify email address. Please note: your selection will be applied to existing users as well as new users.]]></comment>
                            <source_model>Loginradius_Customerregistration_Model_Source_Emailvalidation</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </emailVerified>
                        <enableusername translate="label">
                            <label>Enable UserName Login</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Let users log in with either username or email.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enableusername>
                        <loginonemailverification translate="label">
                            <label>Login Upon Email Verification</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Log user in after the verification link is clicked in the verification email.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </loginonemailverification>
                        <askemailalwaysforunverified translate="label">
                            <label>Always Ask Email For Unverified Account.</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Every time an unverified user tries to log in, prompt for email address.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </askemailalwaysforunverified>
                        <passwordonsociallogin translate="label">
                            <label>Prompt Password On Social Login</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[After authentication through Social Login, prompt the user for a password. By doing so, a traditional account will be generated for the user in addition to his/her social account.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </passwordonsociallogin>
                        <customraasoptions translate="label">
                            <label>Custom Options</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[Custom Customer Registration options that are added in the LoginRadius js.]]></comment>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customraasoptions>                        
                        <emailtemplateheading translate="label">
                            <label>Email Template Configuration</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </emailtemplateheading>
                        <forgotpasswordtemplate translate="label">
                            <label>Forgot Password Email Template</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Enter template name for Forgot Password Email.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </forgotpasswordtemplate>
                        <emailverificationtemplate translate="label">
                            <label>Email Verification Email Template</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Enter template name for Email Verification Email.]]></comment>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </emailverificationtemplate>
                        <debugheading translate="label">
                            <label>Debug Configuration</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debugheading>
                        <debugMode translate="label">
                            <label>Enable Debugging</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[If your customers are not able to login, Please enable debug mode to display errors.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debugMode>                        
                    </fields>
                </othersettings>                
            </groups>                
        </customerregistration>
    </sections>
</config>