<?xml version="1.0"?>
<config>
    <modules>
        <Loginradius_Activation>
            <version>2.0.6</version>
        </Loginradius_Activation>
    </modules>
    <global>
        <helpers>
            <activation>
                <class>Loginradius_Activation_Helper</class>
            </activation>
        </helpers>
        <blocks>
            <activation>
                <class>Loginradius_Activation_Block</class>
            </activation>
        </blocks>
        <events>
            <model_config_data_save_before>
               <observers>
                   <activation>
                       <type>singleton</type>
                       <class>Loginradius_Activation_Model_Observer</class>
                       <method>validateLoginradiusKeys</method>
                   </activation>
               </observers>
           </model_config_data_save_before>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                    <activation>
                                        <title>Store Activation Module Section</title>
                                    </activation>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
</adminhtml>
</config>