<?xml version="1.0"?>
<config>
    <modules>
        <Loginradius_Mailchimp>
            <version>2.0.9</version>
        </Loginradius_Mailchimp>
    </modules>
    <global>
        <helpers>
            <mailchimp>
                <class>Loginradius_Mailchimp_Helper</class>
            </mailchimp>
        </helpers>
        <events>
            <lr_get_profile_data_for_third_party>
                <observers>
                    <Loginradius_Mailchimp_lr_get_profile_data_after_login_observer>
                        <type>singleton</type>
                        <class>Loginradius_Mailchimp_Model_Observer</class>
                        <method>create_update_profile_data</method>
                    </Loginradius_Mailchimp_lr_get_profile_data_after_login_observer>
                </observers>
            </lr_get_profile_data_for_third_party>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mailchimp>
                                            <title>Store Mailchimp Module Section</title>
                                        </mailchimp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mailchimp>
                    <file>Loginradius/mailchimp.xml</file>
                </mailchimp>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <mailchimp>
                <use>standard</use>
                <args>
                    <module>Loginradius_Mailchimp</module>
                    <frontName>mailchimp</frontName>
                </args>
            </mailchimp>
        </routers>
    </frontend>
</config>