<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <section id="lrsocialprofiledata" translate="label" sortOrder="134" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Social Profile Data</label>
            <tab>lractivation</tab>
            <resource>LoginRadius_SocialProfileData::socialprofiledata_config</resource>
            <group id="social_profile_data_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Social Profile Data Configuration Options</label>
                <field id="basic_profile" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Basic Profile Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>Data fields include: Social ID, Social ID Provider, First Name, Middle Name, Last Name, Full Name, Nick Name, Profile Name, Birthdate, Gender, Country Code, Country Name, Thumbnail Image Url, Image Url, Local Country, Profile Country</tooltip>
                </field> 
                <field id="extended_location" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Extended Location Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>Data fields include: Main Address, Hometown, State, City, Local City, Profile City, Profile Url, Local Language, Language</tooltip>
                </field> 
                <field id="extended_profile" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Extended Profile Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>Data fields include: Website, Favicon, Industry, About, Timezone, Verified, Last Profile Update, Created, Relationship Status, Favorite Quote, Interested In, Interests, Religion, Political View, HTTPS Image Url, Followers Count, Friends Count, Is Geo Enabled, Total Status Count, Number of Recommenders, Honors, Associations, Hirable, Repository Url, Age, Professional Headline, Provider Access Token, Provider Token Secret, Positions, Companies, Education, Phone Numbers, IM Accounts, Addresses, Sports, Inspirational People, Skills, Current Status, Certifications, Courses, Volunteer, Recommendations Received, Languages, Patents, Favorites, Books</tooltip>
                </field> 
                <field id="followed_companies" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Companies</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>A list of all the companies this user follows on LinkedIn.</tooltip>
                </field> 
                <field id="facebook_profile_events" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Facebook Profile Events</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>A list of events (birthdays, invitation, etc.) on the Facebook profile of user</tooltip>
                </field> 
                <field id="status_messages" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Status Messages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>Facebook wall activity, Twitter tweets and LinkedIn status of the user, including links</tooltip>
                </field> 
                <field id="facebook_posts" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Facebook Posts</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>Facebook posts of the user, including links</tooltip>
                </field> 
                <field id="twitter_mentions" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Twitter Mentions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>A list of tweets that the user is mentioned in.</tooltip>
                </field> 
                <field id="groups" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Groups</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>A list of the groups of user.</tooltip>
                </field>  
                <field id="contacts" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Contacts/Friend Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>For email providers (Google and Yahoo), a list of the contacts of user in his/her address book. For social networks (Facebook, Twitter, and LinkedIn), a list of the people in the network of user.</tooltip>
                </field> 
                <field id="likes" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Facebook Likes Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>A list of Facebook likes of user (Recent 500 likes)</tooltip>
                </field> 
            </group>
        </section>
    </system>
</config>