#lr_thank_message_container,
#lr_extension_help_container{
    width: 64%;
    float: left;
}
#lr_extension_info_container,
#lr_extension_support_container{
    width: 29%;
    float: right;
}
#lr_media_pages_container a img {
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
}