<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
         <section id="apilog" translate="label" sortOrder="533" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Debug Log</label>
            <tab>lractivation</tab>
            <resource>LoginRadius_Apilog::apilog_config</resource>
            <group id="showapilog" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
               
                <field id="log" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <source_model>LoginRadius\Apilog\Model\Source\Info</source_model>
                   
                </field>
                <field id="hidden" translate="label" type="hidden" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                </field>
            </group>
        </section>
    </system>
</config>