<?xml version="1.0"?>
<config>
    <modules>
        <Loginradius_Socialprofiledata>
            <version>2.0.3</version>
        </Loginradius_Socialprofiledata>
    </modules>
    <global>
        <helpers>
            <socialprofiledata>
                <class>Loginradius_Socialprofiledata_Helper</class>
            </socialprofiledata>
        </helpers>
        <events>
            <lr_get_profile_data_after_login>
                <observers>
                    <Loginradius_Socialprofiledata_lr_get_profile_data_after_login_observer>
                        <type>singleton</type>
                        <class>Loginradius_Socialprofiledata_Model_Observer</class>
                        <method>lr_get_profile_data_after_login</method>
                    </Loginradius_Socialprofiledata_lr_get_profile_data_after_login_observer>
                </observers>
            </lr_get_profile_data_after_login>
        </events>
        <blocks>
            <adminhtml>
                <rewrite>
                    <customer_grid>Loginradius_Socialprofiledata_Block_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <socialprofiledata_setup>
                <setup>
                    <module>Loginradius_Socialprofiledata</module>
                </setup>
            </socialprofiledata_setup>
        </resources>   
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <socialprofiledata>
                                            <title>Store Social Profile Data Module Section</title>
                                        </socialprofiledata>
                                        <mysocialprofiledata>
                                            <title>Store Social Profile Data Module Section</title>
                                        </mysocialprofiledata>                                        
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <socialprofiledata>
                    <file>Loginradius/socialprofiledata.xml</file>
                </socialprofiledata>
            </updates>
        </layout>
    </adminhtml>
</config>