<?xml version="1.0"?>
<config>
    <sections>
        <socialprofiledata translate="label" module="socialprofiledata">
            <label>Social Profile Data</label>
            <tab>socialconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1003</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>    
            <groups>
                <info translate="label">
                    <frontend_model>Loginradius_Activation_Model_Info</frontend_model>
                    <comment><![CDATA[]]></comment>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>
                <profiledataoption translate="label">
                    <label>Social Profile Data Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <profiledatacheckboxes translate="label">
                            <label>Social Profile Data</label>
                            <frontend_type>checkboxes</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </profiledatacheckboxes>
                        <profiledata translate="label">
                            <frontend_type>hidden</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </profiledata>
                    </fields>
                </profiledataoption>
            </groups>         
        </socialprofiledata>
        <mysocialprofiledata translate="label" module="socialprofiledata">
            <tab>socialconfig</tab>
            <frontend_type>hidden</frontend_type>
            <sort_order>1050</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <info translate="label">
                    <frontend_model>Loginradius_Socialprofiledata_Model_ProfileData</frontend_model>
                    <comment><![CDATA[]]></comment>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>
            </groups>
        </mysocialprofiledata>
    </sections>
</config>