<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="model_save_before">
        <observer name="loginradius_activation_model_save_before" instance="LoginRadius\Activation\Observer\CheckKey" />
    </event>   
    <event name="model_save_after">
        <observer name="loginradius_activation_model_save_after" instance="LoginRadius\Activation\Observer\SaveKey" />
    </event>  
</config>
