<?xml version="1.0"?>
<config>
    <default>
        <socialshare>
            <horizontalsharing>
                <horizontalshareenable>1</horizontalshareenable>
                <horizontalsharingtheme>32</horizontalsharingtheme>
                <horizontalshareproduct>1</horizontalshareproduct>
                <horizontalsharingprovidershidden>Facebook,Twitter,GooglePlus,LinkedIn,Pinterest,Print,Email</horizontalsharingprovidershidden>
                <horizontalcounterprovidershidden>Facebook Like,Google+ +1,Twitter Tweet,Pinterest Pin it,Hybridshare</horizontalcounterprovidershidden>
            </horizontalsharing>
            <verticalsharing>
                <verticalshareenable>1</verticalshareenable>
                <verticalsharingtheme>counter_vertical</verticalsharingtheme>
                <verticalalignment>top_left</verticalalignment>
                <verticalshareproduct>1</verticalshareproduct>                
                <verticalsharingprovidershidden>Facebook,Twitter,GooglePlus,LinkedIn,Pinterest,Print,Email</verticalsharingprovidershidden>
                <verticalcounterprovidershidden>Facebook Like,Google+ +1,Twitter Tweet,Pinterest Pin it,Hybridshare</verticalcounterprovidershidden>
            </verticalsharing>
        </socialshare>
    </default>
    <modules>
        <Loginradius_Socialshare>
            <version>2.0.2</version>
        </Loginradius_Socialshare>
    </modules>
    <global>
        <helpers>
            <socialshare>
                <class>Loginradius_Socialshare_Helper</class>
            </socialshare>
        </helpers>
        <blocks>
            <socialshare>
                <class>Loginradius_Socialshare_Block</class>
            </socialshare>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <socialshare>
                                            <title>Store Social Share Module Section</title>
                                        </socialshare>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <socialshare>
                    <file>Loginradius/socialshare.xml</file>
                </socialshare>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <socialshare>
                    <file>Loginradius/socialshare.xml</file>
                </socialshare>
            </updates>
        </layout>
    </frontend>
</config>