<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="customer_logout">
        <observer name="customer_logout" instance="LoginRadius\IdentityExperienceFramework\Observer\Frontend\Logout" />
    </event>    
       
</config>
