<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
         <section id="lrsocialshare" translate="label" sortOrder="133" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Social Share</label>
            <tab>lractivation</tab>
            <resource>LoginRadius_SocialShare::socialshare_config</resource>
            <group id="horizontal_share" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Horizontal Social Sharing Configuration Options</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Sharing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="theme" translate="label" type="radios" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Choose a theme</label>
                    <source_model>LoginRadius\SocialShare\Model\Source\Horizontalinterface</source_model>
                </field>
                <field id="loginRadiushorizontalerrordiv" translate="label" type="radios" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>You can select only 9 providers.</label>
                </field>
                <field id="share_provider" translate="label" type="checkboxes" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Providers</label>
                    
                    <source_model>LoginRadius\SocialShare\Model\Source\Sharingprovider</source_model>
                    <depends>
                        <field id="theme" separator="|">0|1|2</field>
                    </depends>
                </field>
                <field id="count_provider" translate="label" type="checkboxes" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Providers</label>
                    <source_model>LoginRadius\SocialShare\Model\Source\Counterprovider</source_model>
                    <depends>
                        <field id="theme" separator="|">5|6</field>
                    </depends>
                </field>                
                <field id="rearrange_icons" translate="label" type="hidden" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Rearrange Icons</label>
                    <depends>
                        <field id="theme" separator="|">0|1|2</field>
                    </depends>                    
                 </field>                
                <field id="counter_provider_theme" translate="label" type="hidden" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Rearrange Icons</label>
                 </field>
                <field id="show_product_pages" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show Interface at Product Pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="vertical_share" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Vertical Social Sharing Configuration Options</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Sharing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="theme" translate="label" type="radios" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Choose a theme</label>
                    <source_model>LoginRadius\SocialShare\Model\Source\Verticalinterface</source_model>
                </field>
                <field id="alignment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Alignment</label>
                    <source_model>LoginRadius\SocialShare\Model\Source\Verticalposition</source_model>
                    <tooltip>Select the position of the Social Counter widget with respect to page</tooltip>
                </field>
                 <field id="loginRadiusverticalerrordiv" translate="label" type="radios" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>You can select only 9 providers.</label>
                </field>
                <field id="share_provider" translate="label" type="checkboxes" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Providers</label>
                    <source_model>LoginRadius\SocialShare\Model\Source\Sharingprovider</source_model>
                    <depends>
                        <field id="theme" separator="|">0|1</field>
                    </depends>
                </field>
                <field id="count_provider" translate="label" type="checkboxes" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Providers</label>
                    <source_model>LoginRadius\SocialShare\Model\Source\Counterprovider</source_model>
                    <depends>
                        <field id="theme" separator="|">2|3</field>
                    </depends>
                </field>
                <field id="rearrange_icons" translate="label" type="hidden" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Rearrange Icons</label>
                    <depends>
                       <field id="theme" separator="|">0|1</field>
                    </depends>
                </field>
                <field id="counter_provider_theme" translate="label" type="hidden" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Rearrange Icons</label>
                 </field>
                <field id="show_product_pages" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show Interface at Product Pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
             <group id="advance_setting" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advance Settings</label>
                <field id="enabledMobile" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Mobile Friendly Sharing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>                    
                </field>
                <field id="desired_email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Please enter your desired email message</label>
                </field>
                <field id="email_sbject" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Please enter your desired email subject</label>
                </field>
                <field id="email_content_read_only" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Do you want to make the email content read only?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[Your readers wont be able to change the Email Content if its read only.]]></tooltip>
                </field>
                <field id="short_url" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Do you want to use short URL during sharing?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[Enable this if you want the URL to be shortened using Ish.re]]></tooltip>
                </field>
                <field id="total_share" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Do you want to enable Total Share to display the total share count on your website?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[Display the total shares URL got from all social providers.]]></tooltip>
                </field>
                <field id="single_window" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Do you want to open all providers in a single window?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[Disable this opens all sharing providers in a new Popup.]]></tooltip>
                </field>
                <field id="twitter_mention" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter your desired Twitter handle to mention during a Twitter share.</label>
                    <tooltip><![CDATA[Handle will be mentioned as suffix as via @twitterhandle.]]></tooltip>
                </field>
                <field id="twitter_hash_tag" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter your desired Twitter hash tags to be used during a Twitter share.</label>
                    <tooltip><![CDATA[Hashtag will be added to all tweets.]]></tooltip>
                </field>
                <field id="facebook_app_id" translate="label" type="text" sortOrder="85" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter your Facebook App ID.</label>
                    <tooltip><![CDATA[Enter the Facebook App Id if you want to track social sharing on your Facebook app.]]></tooltip>
                </field>
                <field id="custom_popup" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Custom Popup Window Size</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[Check this if you want to change default Popup Window Size. [Default Size 530*530 Px].]]></tooltip>
                </field>               
                <field id="popup_height" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter the sharing popup window height.</label>
                    <tooltip><![CDATA[Enter the height of the Sharing popup window, default height is 530px.]]></tooltip>
                    <depends>
                        <field id="custom_popup">1</field>
                    </depends>
                </field>
                <field id="popup_width" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter the sharing popup window width.</label>
                    <tooltip><![CDATA[Enter the Width of Sharing popup window, default Width is 530px.]]></tooltip>
                </field>                
                <field id="custom_option" translate="label" type="textarea" sortOrder="120" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Please enter custom options for sharing interface.</label>
                </field>                
             </group>
        </section>
    </system>
</config>