<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="model_save_before">
        <observer name="loginradius_apilog_model_save_before" instance="LoginRadius\Apilog\Observer\Apilog" />
    </event>
   
</config>
