<?xml version="1.0"?>
<config>
    <sections>
        <sociallogin translate="label" module="sociallogin">
            <label>Social Login</label>
            <tab>socialconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>    
            <groups>
                <info translate="label">
                    <frontend_model>Loginradius_Activation_Model_Info</frontend_model>
                    <comment><![CDATA[]]></comment>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>
                <settings translate="label">
                    <label>Basic Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store> 
                    <fields>
                        <redirectionafterlogin translate="label">
                            <label>Redirection After Login</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Loginradius_Sociallogin_Model_Source_Redirection</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirectionafterlogin>
                        <redirectionafterlogincustom translate="label">
                            <label></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirectionafterlogincustom>
                        <redirectionafterregistration translate="label">
                            <label>Redirection After Register</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Loginradius_Sociallogin_Model_Source_Redirection</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirectionafterregistration>
                        <redirectionafterregistrationcustom translate="label">
                            <label></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirectionafterregistrationcustom>
                    </fields>
                </settings>
                <socialinterface translate="label">
                    <label>Interface Customization Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <customenable translate="label">
                            <label>Enable Custom Interface</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Select Custom Interface to use in the Social Login.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customenable>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Text displayed above Social login Interface]]></comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <iconsize translate="label">
                            <label>Social Login icons size</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Select the icon size to use in the Social Login interface.]]></comment>
                            <source_model>Loginradius_Sociallogin_Model_Source_Iconsize</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </iconsize>
                        <iconsperRow translate="label">
                            <label>Social Login icons per row</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[How many social icons would you like to be displayed per row?]]></comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </iconsperRow>
                        <backgroundcolor translate="label">
                            <label>Background Color</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[What background color would you like to use for the Social Login interface? (Leave empty for transparent. You can enter hexa-decimal code of the color as well as name of the color (in English language and small letters).)]]></comment>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </backgroundcolor>
                        <showdefault translate="label">
                            <label>Show Social Login interface in right side panel</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Select No, if you don't want to display module in right panel. You can also set widget in pages or any area of your site.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </showdefault>
                        <abovelogin translate="label comment">
                            <label>Show Social Login interface above login form</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Select 'Yes' to enable Social Login interface above login form.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </abovelogin>
                        <belowlogin translate="label comment">
                            <label>Show Social Login interface below login form</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Select 'Yes' to enable Social Login interface below login form.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </belowlogin>
                        <aboveregister translate="label comment">
                            <label>Show Social Login interface above registration form</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Select 'Yes' to enable Social Login interface above registration form.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </aboveregister>
                        <belowregister translate="label">
                            <label>Show Social Login interface below registration form</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Select 'Yes' to enable Social Login interface below registration form.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </belowregister>
                    </fields>
                </socialinterface>
                <emailsettings translate="label">
                    <label>Email Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <emailrequired translate="label">
                            <label>Email Required</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[A few ID providers do not provide user's Email ID. Select YES if you would like an email pop-up after login or select NO if you would like to auto-generate the email address.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </emailrequired>
                        <verificationText translate="label">
                            <label>Email verification message</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[This message will be used in verification email.]]></comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </verificationText>
                        <popupText translate="label">
                            <label>"Email required" - Popup title</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[This text will be displayed on "Email required" popup.@provider will be replaced by social network you are trying to logging in with]]></comment>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </popupText>
                        <popupError translate="label">
                            <label>Error message</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[This text will be displayed on the popup if the entered email is already registered or invalid.]]></comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </popupError>
                        <notifyUser translate="label">
                            <label>Enable registration notification to user</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Send email to newly registered customer regarding login credentials.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notifyUser>
                        <notifyUserText translate="label">
                            <label>User notification email message</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[This message will be sent to user in notification email along with login credentials. If left empty, default message will be sent.]]></comment>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notifyUserText>
                        <notifyAdmin translate="label">
                            <label>Enable registration notification to owner</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Send email to store owner on new customer registration regarding customer details.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notifyAdmin>
                        <notifyAdminText translate="label">
                            <label>Owner notification email message</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[This message will be sent to admin in notification email.]]></comment>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notifyAdminText>
                    </fields>
                </emailsettings>                
                <othersettings translate="label">
                    <label>Advance Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <updateprofiledata translate="label">
                            <label>Update Profile Data</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Select yes to update user profile details in your Magento website, every time user logs into your website.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </updateprofiledata>
                        <sociallinking translate="label">
                            <label>Social Linking</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Link social accounts with existing user accounts.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sociallinking>
                        <profilefieldsrequired translate="label">
                            <label>Profile Fields Required</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Ask the required Magento User Profile fields in a popup when user registers through Social Login.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </profilefieldsrequired>
                        <debugMode translate="label">
                            <label>Enable Debugging</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[If your customers are not able to login, Please enable debug mode to display errors.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debugMode>                        
                    </fields>
                </othersettings>               
            </groups>                
        </sociallogin>
    </sections>
</config>