<?xml version="1.0"?>
<config>
    <modules>
        <Loginradius_Singlesignon>
            <version>2.0.8</version>
        </Loginradius_Singlesignon>
    </modules>
    <global>
        <helpers>
            <singlesignon>
                <class>Loginradius_Singlesignon_Helper</class>
            </singlesignon>
        </helpers>
        <blocks>
            <singlesignon>
                <class>Loginradius_Singlesignon_Block</class>
            </singlesignon>
        </blocks>
        <events>
            <lr_logout_sso>
                <observers>
                    <Loginradius_Singlesignon_lr_logout_sso_observer>
                        <type>singleton</type>
                        <class>Loginradius_Singlesignon_Model_Observer</class>
                        <method>lr_logout_sso</method>
                    </Loginradius_Singlesignon_lr_logout_sso_observer>
                </observers>
            </lr_logout_sso>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <singlesignon>
                                            <title>Store Single Sign-On Module Section</title>
                                        </singlesignon>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <singlesignon>
                    <file>Loginradius/singlesignon.xml</file>
                </singlesignon>
            </updates>
        </layout>
    </frontend>
</config>