<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
         <section id="lrcustomerregistration" translate="label" sortOrder="132" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Customer Registration</label>
            <tab>lractivation</tab>
            <resource>LoginRadius_CustomerRegistration::customerregistration_config</resource>
            <group id="redirection_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Basic Configuration Options</label>
                <field id="raas_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Authentication Type</label>
                    <source_model>LoginRadius\CustomerRegistration\Model\Source\Registration</source_model>
                </field>
                <field id="interface_size" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Social Login Icon Size</label>
                    <source_model>LoginRadius\CustomerRegistration\Model\Source\Icon</source_model>
                    <depends>
                        <field id="raas_enable">0</field>
                    </depends>
                </field>
                <field id="number_of_columns" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Number of Social Icons Per Row</label>
                    <depends>
                        <field id="raas_enable">0</field>
                    </depends>
                </field>
                <field id="background_color" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Background Color</label>
                    <depends>
                        <field id="raas_enable">0</field>
                    </depends>
                </field>                
                <field id="login_redirection" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Redirection After Login</label>
                    <source_model>LoginRadius\CustomerRegistration\Model\Source\Redirection</source_model>
                </field>
                <field id="custom_login_redirection" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <validate>required-entry</validate>
                    <depends>
                        <field id="login_redirection">custom</field>
                    </depends>
                </field>
            </group>
            <group id="interface_customization_settings" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Interface Customization Configuration Options</label>
<!--                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                   <label>Title</label>
                   <tooltip><![CDATA[Text displayed above Social login Interface.]]></tooltip>
                </field>-->
                <field id="form_validation_message" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                   <label>Display Form Validation Message</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                   <tooltip><![CDATA[Select Yes if you want to show form validation messages just below the form elements.]]></tooltip>
                </field>
                <field id="terms_conditions" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                   <label>Display Terms and Condition</label>
                   <tooltip><![CDATA[This field is shown just above the submit button and displays the Terms and Conditions text to the user.]]></tooltip>
                </field>                
                <field id="delay_time" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                   <label>Form Render Delay Time</label>
                   <tooltip><![CDATA[Set the delay time (in milliseconds) before the Customer Registration interface is rendered]]></tooltip>
                </field>                
                <field id="google_recaptcha" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                   <label>Google Recaptcha</label>
                   <tooltip><![CDATA[Enter V2 Google reCaptcha Public Key.]]></tooltip>
                </field>
            </group>
            <group id="password_customization_settings" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Password Customization Configuration Options</label>
                <field id="min_password" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                   <label>Min Password Length</label>
                   <validate>validate-number</validate>
                   <tooltip><![CDATA[Set min password length must be number value.]]></tooltip>
                </field>
                <field id="max_password" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                   <label>Max Password Length</label>
                   <validate>validate-number</validate>
                   <tooltip><![CDATA[Set max password length must be number value.]]></tooltip>
                </field>
            </group>
            <group id="advance_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advance Configuration Options</label>
                <field id="update_profile" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Update Profile Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[Select yes to update user profile details in your Magento website, every time user logs into your website.]]></tooltip>
                </field>
                <field id="username_login" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable UserName Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[Let users log in with either username or email.]]></tooltip>
                    <depends>
                        <field id="email_verification">0</field>
                    </depends>
                </field>
                <field id="email_verification" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email Verification</label>
                    <source_model>LoginRadius\CustomerRegistration\Model\Source\Emailverification</source_model>
                    <tooltip><![CDATA[Allow users to verify email address. Please note: your selection will be applied to existing users as well as new users.]]></tooltip>
                </field>
                <field id="login_upon_email_verification" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Login Upon Email Verification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[Log user in after the verification link is clicked in the verification email.]]></tooltip>
                    <depends>
                        <field id="email_verification" separator="|">0|2</field>
                    </depends>
                </field>
                <field id="always_ask_email_for_unverified" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Always Ask Email For Unverified Account.</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[Every time an unverified user tries to log in, prompt for email address.]]></tooltip>
                    <depends>
                        <field id="email_verification" separator="|">0|2</field>
                    </depends>
                </field>
                <field id="prompt_password_on_social_login" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Prompt Password On Social Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[After authentication through Social Login, prompt the user for a password. By doing so, a traditional account will be generated for the user in addition to his/her social account.]]></tooltip>
                    <depends>
                        <field id="email_verification">0</field>
                    </depends>
                </field>
                <field id="custom_js_options" translate="label" type="textarea" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Options</label>
                    <tooltip><![CDATA[Custom Customer Registration options that are added in the LoginRadius js.]]></tooltip>
                </field>
            </group>
            <group id="email_template_settings" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
               
                <label>Email Template Configuration Options</label>
                <field id="forgot_email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Forgot Password Email Template</label>
                    <tooltip><![CDATA[Enter template name for Forgot Password Email.]]></tooltip>
                </field>
                <field id="verification_email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email Verification Email Template</label>
                    <tooltip><![CDATA[Enter template name for Email Verification Email.]]></tooltip>
                </field>
            </group>
            <group id="enablehostingpage" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Enable Hosted Page Functionality</label>
                <field id="enable_hosted_page" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Do you want to enable hosted page functionality?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[Enable Hosted Page Functionality.]]></tooltip>
                </field>
            </group>
            <group id="debug_settings" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Debug Configuration Options</label>
                <field id="debug" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Debugging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[If your customers are not able to login, Please enable debug mode to display errors.]]></tooltip>
                </field>
            </group>
        </section>
    </system>
</config>